{layout="layouts/main"}
{layout:set name="title" value="About Us | HeadHigh"}
{layout:set name="description" value="HeadHigh is the home of alternative and underground music news, reviews, interviews, features and more..."}
{layout:set name="image" value="{site_url}images/uploads/images/sigma6.jpg"}
{layout:set name="canonical" value="{site_url}about"}
{layout:set name="schemaJSON"}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
        "@type" : "WebSite",
        "name" : "About Us | HeadHigh",
        "description" : "HeadHigh is the home of alternative and underground music news, reviews, interviews, features and more...",
        "url" : "{site_url}about",
        "image" : "{site_url}images/uploads/images/sigma6.jpg"
    }
</script>
{/layout:set}



<section class="article">

    <div class="auto-container">

        <div class="main-article">
       
            <h1>About Us</h1>
            <h5>HeadHigh is the home of alternative and underground music news, reviews, interviews, features and more. We aim to create a positive place where artists and fans alike can discover each other. We introduce artists to new fans, and fans to their new favourite artists.
            </h5>

            <h5>Want to be featured on HeadHigh? Want to send us some of your recommendations, or just want to give us some criticism? <a href="/contact">Get in touch</a> today!
            </h5>
         
     
        </div>

       {embed="_embeds/sidebar"}

    </div>

</section>