  {exp:channel:entries channel="{embed:channel}" disable="categories|category_fields|member_data|pagination"}
   <div class="entry">
              
              <a href="/{channel_name}/{url_title}" >
               <div class="image-container">
                {exp:ce_img:single src="{main_image}" alt="Image for {title}"  width="355" height="150" crop="yes" add_dims="no"}
                </div>
                </a>
                <div class="text-block">
                 <h3><a href="/{channel_name}/{url_title}"> {title}</a></h3>
                 <p>{body_content:limit characters="140"}</p>
                </div>

                 </div>

                   {if count == 1 && total_results < 2}
                    <a href="" class="entry disNoneAr"  style="background-color:black;">
                        <div class="black-bar">
                            <h3>More Coming Soon</h3>
                            <h5>HeadHigh</h5>
                        </div>
                    </a>

                          <a href="" class="entry disNoneAr"  style="background-color:black;">
                        <div class="black-bar">
                            <h3>More Coming Soon</h3>
                            <h5>HeadHigh</h5>
                        </div>
                    </a>
                    {/if}
                      
                       {if count == 2 && total_results < 3}
                    <a href="" class="entry disNoneAr"  style="background-color:black;">
                        <div class="black-bar">
                            <h3>More Coming Soon</h3>
                            <h5>HeadHigh</h5>
                        </div>
                    </a>
                    {/if}
                    {/exp:channel:entries}