/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  $main-font: 'Montserrat', 'Open Sans', sans-serif;
  $secondary-font: 'Open Sans', sans-serif;
  $hover-color: #DE3C4B;

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    
/* HeadHigh Style Begins */    
    body{
        background-color: #141414;
    }
    header{
    width: 100%;
    background-color:#090909;
    height: 90px;
    .auto-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        img{
            max-width: 173px;
            width: 100%;
        }
        ul{
            li{
                display: inline-block;
                margin-left: 20px;
                font-family: $main-font;
                    font-size: 13px;
                    font-weight: bold;
                    color:#ffffff;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                a{
                    text-decoration: none;
                    color:#ffffff;
                    transition: color 0.3s ease-in-out;
                    &:hover{
                        color:$hover-color;
                    }
                    i{
                        font-size: 23px;
                        font-weight: normal;
                        top: 4px;
                        position: relative;
                    }
                }
            }
        }
    }
}
h4{
font-family: $secondary-font;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
color:#ffffff;
margin-bottom: 5px;
transition: all 0.3s;
&:hover{
    color:$hover-color;
}
}
h2{
    font-family: $main-font;
    font-size: 34px;

    letter-spacing: -0.5px;
    font-weight: bold;
    color:#ffffff;
    margin-bottom: 10px;
    transition: all 0.3s;
    &:hover{
        color:$hover-color;
    }
}
h3{
    font-family: $main-font;
    font-size: 26px;
    letter-spacing: -0.5px;
    font-weight: bold;
    color:#ffffff;
    transition: all 0.3s;
    &:hover{
        color:$hover-color;
    }
}
h5{
    font-family: $secondary-font;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
color:#7e7e7e;
}
.auto-container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.black-bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    bottom: 0;
}
.main-flex{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-top: 50px;
    
   
    .lead-story{
        width: 62%;
        position: relative;
        transition: all 0.3s;
        &:hover{
            background-size: 120% 120%;
        
        h2{
            color: $hover-color;
        }
    }
        .black-bar{
            padding: 20px 24px;
            box-sizing: border-box;
        }
        a{
            text-decoration: none;
            &:hover{
                color: $hover-color;
            }
        }
    }
    .secondary-stories{
        display: flex;
        flex-direction: column;
        width: 37%;
        .sec-story{
            height: 50%;
            position: relative;
            &:hover{
                background-size: 120% 120%;
            
            h3{
                color: $hover-color;
            }
        }
            .black-bar{
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
}

.entries{
    display: flex;
    
}
.lower-container{
    margin-top: 50px;
    h3{
        font-size: 22px;
        margin-bottom: 5px;
        &.title{
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 15px;
            a{
                text-decoration: none;
                color:#ffffff;
                transition: all 0.3s;
                &:hover{
                    color:$hover-color;
                }
            }
        }
    }
    h5{
        font-size: 12px;
    }
    .black-bar{
        padding: 20px;
        box-sizing: border-box;
    }
    .auto-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left-side{
            max-width: 250px;
            width: 25%;
            display: flex;
            flex-direction: column;
            .entries{
                flex-direction: column;
                .entry{
                    height: 260px;
                    width: 100%;
                    max-width: 250px;
                    position: relative;
                    &:first-child{
                        margin-bottom:20px;
                    }
                    h3{
                        font-size: 22px;
                    }
                    &:hover{
                    h3{
                        color: $hover-color;
                    }}
                }
            }
        }
        .right-side{
            max-width: 740px;
            width: 75%;
            display: flex;
            flex-direction: column;
            .right-side-block{
                &:nth-child(n+2){
                    margin-top: 50px;
                }
            }
            .entries{
                flex-direction: row;
                justify-content: space-between;
                .entry{
                    height: 260px;
                    width: 48%;
                    max-width: 360px;
                    position: relative;
                    &:hover{
                        h3{
                            color: $hover-color;
                        }}
                }
                
            }
        }
    }
}

footer{
    background-color: #090909;
    width: 100%;
    margin-top: 75px;
    .auto-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 0;
        .footer-column{
            width:25%;
            h1{
                font-family: $main-font;
                font-size: 24px;
                color:#ffffff;
                font-weight: bold;
                margin-bottom: 15px;
            }
            p{
                font-family: $secondary-font;
                font-size: 14px;
                color:#ffffff;
                line-height: 23px;
                        }
            li{
                
                    margin-bottom: 13px;
               
                a{
                    font-family: $main-font;
                    font-size: 15px;
                    color:#ffffff;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.3s;
                    &:hover{
                        
                            color: $hover-color;
                        }
                    i{
                        font-weight: normal;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}