 {layout="layouts/main"}
 <?php
$url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
?>
 {exp:channel:entries 
                limit="1" 
                dynamic="yes" 
                channel="reviews" 
                show_future_entries="no"
                show_expired="yes"
                disable="member_data|pagination"
                track_views="one"
                status="Open"
            }
{layout:set name="title" value="{exp:xml_encode}{title:limit characters='39' end_char='...'}{/exp:xml_encode} | HeadHigh"}
{layout:set name="description" value="{exp:xml_encode}{intro}{/exp:xml_encode}"}
{layout:set name="image" value="{main_image}"}
{layout:set name="canonical" value="{site_url}reviews/{url_title}"}
{layout:set name="schemaJSON"}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
        "@type" : "Review",
        "name" : "{title} | HeadHigh",
        "itemReviewed" : "{title}",
        "dateCreated" : "{entry_date format="%d %F %Y"}",
        "reviewBody" : "{exp:xml_encode}{body_content}{/exp:xml_encode}",
        "description" : "{exp:xml_encode}{intro}{/exp:xml_encode}",
        "url" : "{site_url}reviews/{url_title}",
        "image" : "{main_image}",
        "author": "HeadHigh"
    }
</script>
{/layout:set}
{/exp:channel:entries}

<section class="article">

    <div class="auto-container">

        <div class="main-article">
        {exp:channel:entries 
                limit="1" 
                dynamic="yes" 
                channel="reviews" 
                show_future_entries="no"
                show_expired="n0"
                disable="member_data|pagination"
                track_views="one"
                status="Open"
            }
             {if no_results}
        {redirect="404"}
    {/if}
            <h1>{title}</h1>
            <h3>{entry_date format="%d %F %Y"}</h3>
            <h5>{intro}</h5>
             {if youtube_id}
              <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/{youtube_id}?modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {if:else}
            {exp:ce_img:single add_dims="no" src="{main_image}" alt="Image for {title}"  width="653"}
            {/if}

            <div class="share-links">
            <h3>Share this now:</h3>
            <a href="https://www.facebook.com/share.php?u=<?=$url?>&title={title}" class="social-icon" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/intent/tweet?text={title}%0D%0A%0D%0A+<?=$url?>" class="social-icon" target="_blank"><i class="fab fa-twitter-square"></i></a>
           
            </div>
            {if body_content}{body_content}{/if}
            {if list_content}
                {list_content}
                <h4>{list_content:title}</h4>
                {exp:ce_img:single add_dims="no" src="{list_content:image}" alt="Image for {list_content:title}"  width="653"}
                <h6>{list_content:image_credit}</h6>
                <p>{list_content:body_content}</p>
                {/list_content}
            {/if}

                 {if spotify_embed_code}
            <iframe src="https://open.spotify.com/embed/{spotify_embed_code}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {/if}

            {if band_name}
            <h3>Follow {band_name} here:</h3>
            {if band_facebook}<a href="{band_facebook}" class="social-icon" target="_blank"><i class="fab fa-facebook"></i></a>{/if}
            {if band_twitter}<a href="{band_twitter}" class="social-icon" target="_blank"><i class="fab fa-twitter-square"></i></a>{/if}
            {if band_instagram}<a href="{band_instagram}" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>{/if}
            {if band_spotify}<a href="{band_spotify}" class="social-icon" target="_blank"><i class="fab fa-spotify"></i></a>{/if}
            {if band_apple}<a href="{band_apple}" class="social-icon" target="_blank"><i class="fab fa-apple"></i></a>{/if}
            {if band_website}<a href="{band_website}" class="social-icon" target="_blank"><i class="fas fa-globe"></i></a>{/if}
            {/if}

            {/exp:channel:entries}
        </div>
{embed="_embeds/sidebar"}

    </div>

</section>