{layout="layouts/main"}
{layout:set name="title" value="Contact Us | HeadHigh"}
{layout:set name="description" value="Get in touch with HeadHigh. Want to let us know about your new release? Do you want to let us know about some new music we would be interested in? Get in touch today."}
{layout:set name="image" value="{site_url}images/uploads/images/sigma6.jpg"}
{layout:set name="canonical" value="{site_url}contact"}
{layout:set name="schemaJSON"}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
        "@type" : "WebSite",
        "name" : "Contact Us | HeadHigh",
        "description" : "Get in touch with HeadHigh. Want to let us know about your new release? Want to let us know about some new music we would be interested in? Get in touch today.",
        "url" : "{site_url}contact",
        "image" : "{site_url}images/uploads/images/sigma6.jpg"
    }
</script>
{/layout:set}



<section class="article">

    <div class="auto-container">

        <div class="main-article">
       
            <h1>Contact Us</h1>
            <h5>Want to let us know what you think of HeadHigh? Are you a musician and want us to hear your music? Want to recommend some tracks to us? Get in touch using the channel below and we'll get right back to you.
            </h5>
            <h5>Email: <a href="mailto:info@headhighmusic.co.uk" target="_blank">info@headhighmusic.co.uk</a></h5>
            <h5><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/headhighmusicbranding/" target="_blank">Facebook</a></h5>
            <h5><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/headhighco/" target="_blank">Instagram</a></h5>
     
        </div>

        {embed="_embeds/sidebar"}

    </div>

</section>