{layout="layouts/main"}

<section class="main-container">
    <div class="auto-container">
        <div class="main-flex">
        {exp:channel:entries limit="1" disable="categories|category_fields|member_data|pagination"}
       
            <a href="/{channel_name}/{url_title}" class="lead-story" style="background-image:url('{main_image}'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

                <div class="black-bar">
    
                    <h4>{channel_title}</h4>
                    <h2>{title}</h2>
                    <h5>{intro}</h5>
             
                </div>
            </a>
         
        {/exp:channel:entries}

            <div class="secondary-stories">
            {exp:channel:entries offset="1" limit="2" disable="categories|category_fields|member_data|pagination"}
                <a href="/{channel_name}/{url_title}" class="sec-story"  style="background-image:url('{main_image}'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
                    <div class="black-bar">
                        <h4>{channel_title}</h4>
                        <h3>{title}</h3>
                    </div>
                </a>
                 
                
            {/exp:channel:entries}
            </div>
        </div>
    </div>
</section>

<section class="lower-container">

    <div class="auto-container">

     <div class="left-side">

        <div class="left-side-block">
            <h3 class="title"><a href="/galleries">Latest Galleries »</a></h3>
            <div class="entries">
             {exp:channel:entries channel="galleries" disable="categories|category_fields|member_data|pagination"}
            <a href="/{channel_name}/{url_title}" class="entry"  style="background-image:url('{main_image}'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
                    <div class="black-bar">
                        <h3>{title}</h3>
                        <h5>{intro}</h5>
                    </div>
                </a>

                 
                {if count < 2}
                <a href="/{channel_name}/{url_title}" class="entry"  style="background-color:black;">
                    <div class="black-bar">
                        <h3>More Coming Soon</h3>
                        <h5>HeadHigh</h5>
                    </div>
                </a>
                {/if}
            {/exp:channel:entries}
            </div>
        </div>

     </div>

     <div class="right-side">

         <div class="right-side-block">
            <h3 class="title" ><a href="/reviews">Latest Reviews »</a></h3>
            <div class="entries">
             {exp:channel:entries limit="2" channel="reviews" disable="categories|category_fields|member_data|pagination"}
            <a href="/{channel_name}/{url_title}" class="entry"  style="background-image:url('{main_image}'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
                    <div class="black-bar">
                        <h3>{title}</h3>
                        <h5>{intro}</h5>
                    </div>
                </a>
                   {if count < 2}
                <a href="" class="entry"  style="background-color:black;">
                    <div class="black-bar">
                        <h3>More Coming Soon</h3>
                        <h5>HeadHigh</h5>
                    </div>
                </a>
                {/if}
            {/exp:channel:entries}
            </div>
        </div>

         <div class="right-side-block">
            <h3 class="title"><a href="/interviews">Latest Interviews »</a></h3>
            <div class="entries">
             {exp:channel:entries limit="2" channel="interviews" disable="categories|category_fields|member_data|pagination"}
            <a href="/{channel_name}/{url_title}" class="entry"  style="background-image:url('{main_image}'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
                    <div class="black-bar">
                        <h3>{title}</h3>
                        <h5>{intro}</h5>
                    </div>
                </a>
                   {if count < 2}
                <a href="" class="entry"  style="background-color:black;">
                    <div class="black-bar">
                        <h3>More Coming Soon</h3>
                        <h5>HeadHigh</h5>
                    </div>
                </a>
                {/if}
            {/exp:channel:entries}
            </div>
        </div>

         <div class="right-side-block">
            <h3 class="title"><a href="/features">Latest Features »</a></h3>
            <div class="entries">
             {exp:channel:entries limit="2" channel="features" disable="categories|category_fields|member_data|pagination"}
            <a href="/{channel_name}/{url_title}" class="entry"  style="background-image:url('{main_image}'); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
                    <div class="black-bar">
                        <h3>{title}</h3>
                        <h5>{intro}</h5>
                    </div>
                </a>
                    {if count < 2}
                <a href="" class="entry"  style="background-color:black;">
                    <div class="black-bar">
                        <h3>More Coming Soon</h3>
                        <h5>HeadHigh</h5>
                    </div>
                </a>
                {/if}
            {/exp:channel:entries}
            </div>
        </div>

     </div>

    </div>
</section>

