<!DOCTYPE html>
<html>
  <head>
    <title>HeadHigh Music</title>
    <meta charset="UTF-8">
  	<meta name="description" content="Graphic Design for Unsigned and Independent Bands/">
  	<meta name="keywords" content="graphic design, music, logo, independent, band, artist, album artwork, gig poster">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,600i" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/min/main.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    </head>
  <body>

  <header>
    <div class="auto-container">
      <div class="logo">
        <a href="/" title="Home"><img src="/images/logo.png" alt="Headhigh"/></a>
      </div>

    <div class="menu">
      <ul>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/interviews">Interviews</a></li>
        <li><a href="/live">Live</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li>|</li>
        <li><a href="https://www.facebook.com/headhighmusicbranding/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/headhighco/"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>

    </div>
  </header>

  {layout:contents}

  
<script   src="http://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>


</body>
</html>